<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="First Name" maxlength="20" formControlName="firstName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Last Name" maxlength="20" formControlName="lastName">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" placeholder="Dob" formControlName="dob">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Phone" maxlength="11" formControlName="phone">
  </div>
  <div class="form-group">
    <select class="form-select" formControlName="gender">
      <option value="null">(Select Gender)</option>
      <option value="null">Male</option>
      <option value="null">Female</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>